In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('data/cumulative-co-emissions.csv')
df.head()

        Entity Code  Year  cum_co2_em
0  Afghanistan  AFG  1949     14656.0
1  Afghanistan  AFG  1950     98928.0
2  Afghanistan  AFG  1951    190528.0
3  Afghanistan  AFG  1952    282128.0
4  Afghanistan  AFG  1953    388384.0

In [ ]:
# Keep only after 1900
df = df[df['Year'] >= 1900]

In [ ]:
# select Britain
UK = df[df['Entity'] == 'United Kingdom']
FR = df[df['Entity'] == 'France']
USA = df[df['Entity'] == 'United States of America']
CHN = df[df['Entity'] == 'China']
IND = df[df['Entity'] == 'India']
RUS = df[df['Entity'] == 'Russia']
JPN = df[df['Entity'] == 'Japan']

In [ ]:
# plot Cumulative CO2 emissions
plt.plot(UK['Year'], UK['cum_co2_em'])
plt.plot(FR['Year'], FR['cum_co2_em'])
plt.plot(USA['Year'], USA['cum_co2_em'])
plt.plot(CHN['Year'], CHN['cum_co2_em'])
plt.plot(IND['Year'], IND['cum_co2_em'])
plt.plot(RUS['Year'], RUS['cum_co2_em'])
plt.plot(JPN['Year'], JPN['cum_co2_em'])
plt.xlabel('Year')
plt.ylabel('Émission cumulée de CO2 (tonnes)')
plt.title('Émission cumulée de CO2 par pays')
plt.legend(['UK', 'FR', 'USA', 'CHINA', 'INDIA', 'RUSSIA', 'JAPAN'])
plt.show()

In [ ]:
# compute derivative
UK['derivative'] = UK['cum_co2_em'].diff()
FR['derivative'] = FR['cum_co2_em'].diff()
USA['derivative'] = USA['cum_co2_em'].diff()
CHN['derivative'] = CHN['cum_co2_em'].diff()
IND['derivative'] = IND['cum_co2_em'].diff()
RUS['derivative'] = RUS['cum_co2_em'].diff()
JPN['derivative'] = JPN['cum_co2_em'].diff()

# plot
plt.plot(UK['Year'], UK['derivative'])
plt.plot(FR['Year'], FR['derivative'])
plt.plot(USA['Year'], USA['derivative'])
plt.plot(CHN['Year'], CHN['derivative'])
plt.plot(IND['Year'], IND['derivative'])
plt.plot(RUS['Year'], RUS['derivative'])
plt.plot(JPN['Year'], JPN['derivative'])
plt.xlabel('Year')
plt.ylabel('Taux de variation (tonnes/année)')
plt.title('Variation annuelle des émissions cumulées de CO2 au Royaume-Uni/FR/USA/CHN/IND/RUS/JPN')
plt.legend(['UK', 'FR', 'USA', 'CHINA', 'INDIA', 'RUSSIA', 'JAPAN'])
plt.show()

In [ ]:
df = pd.read_csv('data/cumulative-co-emissions.csv')
df.tail()

In [ ]:
df = df.drop_duplicates(subset=['Country', 'dt'], keep='first')

In [ ]:
a= df[df['Country'] == 'Congo']
a[a['dt'] == '2013-09-01']

In [ ]:
# show congo
congo = df[df['Country'] == 'Congo']
congo

In [3]:
# Convertir la colonne 'dt' en datetime
df['dt'] = pd.to_datetime(df['dt'])

# Créer les colonnes 'year', 'month', 'day'
df['year'] = df['dt'].dt.year
df['month'] = df['dt'].dt.month
df['day'] = df['dt'].dt.day
df.head()

KeyError: 'dt'

In [ ]:
# Filtre pour l'année 2000, le mois de janvier et le jour 1
filtered_df = df[(df['Year'] == 2022)]

# Afficher les résultats du filtre
filtered_df.head()

In [ ]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

# ... (votre code précédent pour charger les données)

 # Normalisation des données de CO2
# min_co2 = df['cum_co2_em'].min()
# max_co2 = df['cum_co2_em'].max()
# df['normalized_co2'] = (df['cum_co2_em'] - min_co2) / (max_co2 - min_co2)

mean_co2 = df['cum_co2_em'].mean()
sd_co2 = df['cum_co2_em'].std()
df['normalized_co2'] = (df['cum_co2_em'] - mean_co2) / sd_co2

for i, year in enumerate(range(1900, 2021, 10)):
    filtered_df = df[(df['Year'] == year)]
    
    world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
    world = world.merge(filtered_df, left_on='name', right_on='Entity', how='left')

    fig, ax = plt.subplots(1, 1, figsize=(15, 10))
    # Assurez-vous d'utiliser la nouvelle colonne normalisée pour le coloriage
    world.plot(column='cum_co2_em', ax=ax, legend=True,
               legend_kwds={'label': "CO2 cumulées par pays (normalisées)",
                            'orientation': "horizontal"})
    plt.title(f'CO2 emissions in {year}')
    plt.savefig(f'images/co2_{year}.png')

In [ ]:
# show congo from World
c = world[world['name'] == 'Congo']
c

In [ ]:
A = filtered_df
B = world

In [ ]:
countries_in_B_not_in_A = B[~B['name'].isin(A['Entity'])]['name'].unique()
print(countries_in_B_not_in_A)

In [ ]:
# show Dominican Rep.
dominican_rep = world[world['name'] == 'eSwatini']
dominican_rep

In [ ]:
filtered_df.head()

In [ ]:
import seaborn as sns
sns.set_theme(style="whitegrid")

# only France, USA and China
filtered_df = df[(df['Entity'] == 'China') | (df['Entity'] == 'United States of America')]
filtered_df.head()

# Load the diamonds dataset
# diamonds = sns.load_dataset("diamonds")
# diamonds.head()
# Plot the distribution of clarity ratings, conditional on carat
ax =sns.displot(
    data=filtered_df,
    x="cum_co2_em", hue="Entity",
    kind="kde", height=6,
    multiple="fill", clip=(0, None),
    palette="ch:rot=-.25,hue=1,light=.75",
)
ax.set_xlabels('Cumulative CO2 emissions (tonnes)')
plt.show()

In [ ]:
import plotly.express as px
import pandas as pd

df2 = df

data_1982 = df2[df2['Year'] == 1982]

fig = px.choropleth(data_1982,
                    locations="Code",
                    color="cum_co2_em",
                    hover_name="Entity",  # Nom du pays à afficher au survol
                    color_continuous_scale=px.colors.sequential.Plasma,  # Échelle de couleurs
                    title="Emissions annuelles de CO2 en 1982 par pays")  # Titre de la carte

fig.update_layout(geo=dict(showframe=False,  # Cache le cadre autour de la carte
                           showcoastlines=True))  # Affiche les côtes

fig.show()

In [ ]:
df = pd.read_csv('data/GlobalLandTemperaturesByCountry.csv')
df.head()

In [ ]:
# Convertir la colonne 'dt' en datetime
df['dt'] = pd.to_datetime(df['dt'])

# Créer les colonnes 'year', 'month', 'day'
df['year'] = df['dt'].dt.year
df['month'] = df['dt'].dt.month
df['day'] = df['dt'].dt.day
df.head()

In [ ]:
# keep only 01-01
df = df[df['month'] == 1]
df = df[df['day'] == 1]
df.head()

In [ ]:
# save 
df.to_csv('data/GlobalLandTemperaturesByCountry_01-01.csv', index=False)

In [ ]:
# min temperature and max temperature
min_temp = df['AverageTemperature'].min()
max_temp = df['AverageTemperature'].max()
print(min_temp, max_temp)

In [ ]:
df2 = pd.read_csv('data/cumulative-co-emissions.csv')
df2.head()

In [ ]:
# merge by country name and dt
df2 = df2.rename(columns={'Entity': 'Country'})
df = df.merge(df2, on=['Country', 'year'], how='left')
df.head()

In [ ]:
# print France
france = df[df['Country'] == 'Germany']
france.tail()

In [ ]:
# export
df.to_csv('data/GlobalLandTemperaturesByCountry_01-01_co2.csv', index=False)

In [ ]:
data="data/annual-temperature-anomalies.csv"
df = pd.read_csv(data)
df.head()